<div class="accordion @(_collapsed ? "collapsed" : "")">
    <div class="accordion-header"
         onclick="@ToggleAccordion">
        <div class="accordion-toggle">
            <div class="arrow-button"></div>
        </div>
        <div class="accordion-title">@Title</div>
    </div>
                
    <div class="accordion-content @_cssClass"
         @attributes="@AdditionalAttributes">
        @ChildContent
    </div>
</div>

@code {

    private bool _collapsed = true;

    private string? _cssClass;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    /// <inheritdoc />
    protected override void OnParametersSet()
    {
        if (AdditionalAttributes?.TryGetValue("class", out object? value) == true)
        {
            _cssClass = value as string;
            AdditionalAttributes.Remove("class");
        }
    }

    private void ToggleAccordion()
    {
        _collapsed = !_collapsed;
    }
}
